{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Usage Cost" %}{% endblock %}

{% block main %}
    {% include "admin/price_configuration/missing_prices.html" %}
    {% if invoice %}
        <div id="usage_cost">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">

                    Invoice Month
                    <select id="invoice_select" onchange="onInvoiceChange(this.value)">
                        {% for i in invoice_list %}
                            <option value="{{ i.id }}" {% if i.id == invoice.id %}
                                    selected {% endif %}>{{ i.start_date|date:"M Y" }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <button onclick="javascript:downloadPdf();" class="btn btn-default pull-right" data-html2canvas-ignore="true">Download PDF</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Invoice State</h3>
                        </div>
                        <div class="panel-body">
                            <h2> {{ invoice.state_text }} </h2> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Subtotal</h3>
                        </div>
                        <div class="panel-body">
                            <h2>{{ invoice.subtotal_money }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            {% if invoice.state != 1 %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Tax</h3>
                            </div>
                            <div class="panel-body">
                                <h2> {{ invoice.tax_money }} </h2> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Total</h3>
                            </div>
                            <div class="panel-body">
                                <h2>{{ invoice.total_money }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-sm-12">
                    {{ tab_group.render }}
                </div>
            </div>

        </div>
    {% else %}
        <h1>You don't have any usage yet</h1> <br/>
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
            integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        function onInvoiceChange(val) {
            var search = "?invoice_id=" + val;
            window.location.href = window.location.protocol + "//" + window.location.host + window.location.pathname + search;
        }

        function downloadPdf() {
            let opt = {
                filename: 'usage_cost.pdf',
                margin: [16, 16],
                enableLinks: true,
                image: {type: 'jpeg', quality: 0.98},
                pagebreak: { mode: 'avoid-all', },
                jsPDF: {unit: 'mm', format: 'a4', orientation: 'portrait'},
            }

            // clone element to modify
            const ucElement = document.getElementById('usage_cost');
            const ucElementClone = ucElement.cloneNode(true);
            
            // modify element
            const navTabs = ucElementClone.querySelector('.nav-tabs');
            navTabs.style.display = 'none';
            const tabContent = ucElementClone.querySelectorAll('.tab-pane');
            tabContent.forEach(content => {
                content.classList.remove("tab-pane");
            });

            html2pdf().set(opt).from(ucElementClone).save();
        }
    </script>
{% endblock %}
