{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Usage Cost" %}{% endblock %}

{% block main %}
    {% include "admin/price_configuration/missing_prices.html" %}
    {% if invoice %}
        <div id="usage_cost">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">

                    Invoice Month
                    <select id="invoice_select" onchange="onInvoiceChange(this.value)">
                        {% for i in invoice_list %}
                            <option value="{{ i.id }}" {% if i.id == invoice.id %}
                                    selected {% endif %}>{{ i.start_date|date:"M Y" }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <a  href="{% url "horizon:project:usage_cost:download" %}?invoice_id={{ invoice.id }}" target="_blank" class="btn btn-default pull-right">Download PDF</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Invoice State</h3>
                        </div>
                        <div class="panel-body">
                            <h2> {{ invoice.state_text }} </h2> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Subtotal</h3>
                        </div>
                        <div class="panel-body">
                            <h2>{{ invoice.subtotal_money }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            {% if invoice.state != 1 %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Tax</h3>
                            </div>
                            <div class="panel-body">
                                <h2> {{ invoice.tax_money }} </h2> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Total</h3>
                            </div>
                            <div class="panel-body">
                                <h2>{{ invoice.total_money }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-sm-12">
                    {{ tab_group.render }}
                </div>
            </div>

        </div>
    {% else %}
        <h1>You don't have any usage yet</h1> <br/>
    {% endif %}
{% endblock %}
