{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Usage Cost" %}{% endblock %}

{% block main %}
    {% include "admin/price_configuration/missing_prices.html" %}
    {% if invoice %}

        <div id="usage_cost">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    Invoice Month <b>{{ invoice.start_date|date:"M Y" }}</b>
                </div>
                <div class="col-md-6">
                    <span class="pull-right" data-html2canvas-ignore="true">
                        {% include 'admin/projects_invoice/manage_invoice_modal.html' with invoice=invoice project_balance_amount=project_balance_amount %}
                        <a href="{% url "horizon:admin:projects_invoice:usage_cost_print" project_id invoice.id %}" target="_blank" class="btn btn-default">Download PDF</a>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Invoice State</h3>
                        </div>
                        <div class="panel-body">
                            <h2> {{ invoice.state_text }} </h2> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Subtotal</h3>
                        </div>
                        <div class="panel-body">
                            <h2>{{ invoice.subtotal_money }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            {% if invoice.state != 1 %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Tax</h3>
                            </div>
                            <div class="panel-body">
                                <h2> {{ invoice.tax_money }} </h2> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Total</h3>
                            </div>
                            <div class="panel-body">
                                <h2>{{ invoice.total_money }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-sm-12">
                    {{ tab_group.render }}
                </div>
            </div>

        </div>
    {% else %}
        <h1>Billing not enabled or you don't have any usage yet</h1> <br/>
    {% endif %}
{% endblock %}

